<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :restaurant_name %><br>
    <%= f.text_field :restaurant_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :short_intro %><br>
    <%= f.text_field :short_intro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :about %><br>
    <%= f.text_area :about, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ordering_url %>
    <%= f.text_field :ordering_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :iphone_app %><br>
    <%= f.text_field :iphone_app, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :android_app %><br>
    <%= f.text_field :android_app, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :monday_hours %><br>
    <%= f.text_field :monday_hours, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tuesday_hours %><br>
    <%= f.text_field :tuesday_hours, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :wednesday_hours %><br>
    <%= f.text_field :wednesday_hours, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :thursday_hours %><br>
    <%= f.text_field :thursday_hours, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :friday_hours %><br>
    <%= f.text_field :friday_hours, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :saturday_hours %><br>
    <%= f.text_field :saturday_hours, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sunday_hours %><br>
    <%= f.text_field :sunday_hours, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :facebook_url %><br>
    <%= f.text_field :facebook_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :twitter_url %><br>
    <%= f.text_field :twitter_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :instagram_url %><br>
    <%= f.text_field :instagram_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Update Profile', class: "bth btn-lg btn-yellow" %>
  </div>
<% end %>
