<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant name</th>
      <th>Short intro</th>
      <th>Address</th>
      <th>About</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Iphone app</th>
      <th>Android app</th>
      <th>Monday hours</th>
      <th>Tuesday hours</th>
      <th>Wednesday hours</th>
      <th>Thursday hours</th>
      <th>Friday hours</th>
      <th>Saturday hours</th>
      <th>Sunday hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.restaurant_name %></td>
        <td><%= profile.short_intro %></td>
        <td><%= profile.address %></td>
        <td><%= profile.about %></td>
        <td><%= profile.phone_number %></td>
        <td><%= profile.email %></td>
        <td><%= profile.iphone_app %></td>
        <td><%= profile.android_app %></td>
        <td><%= profile.monday_hours %></td>
        <td><%= profile.tuesday_hours %></td>
        <td><%= profile.wednesday_hours %></td>
        <td><%= profile.thursday_hours %></td>
        <td><%= profile.friday_hours %></td>
        <td><%= profile.saturday_hours %></td>
        <td><%= profile.sunday_hours %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
