
     <!--begin header -->
    <header class="header">
        <!--begin nav -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <!--begin container -->
            <div class="container">
                <!--begin navbar -->
                <div class="navbar-header">
                    <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to root_path, class: "navbar-brand brand scroll" do %>
                        <%= image_tag 'logo.png', class: "width-100" %>
                    <% end %>
                </div>
                <div id="navbar-collapse-02" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">			      
                        
                            <% @profiles.each do |f| %>
                                <% if f.facebook_url.present? %>
                                   <li class="social">
                                       <%= link_to "http://facebook.com/#{f.facebook_url}", target: "_blank", class: "first" do %>
                                           <i class="fa fa-facebook"></i>
                                       <% end %>
                                   </li>
                                <% end %>
                                <% if f.twitter_url.present? %>
                                   <li class="social">
                                       <%= link_to "http://twitter.com/#{f.twitter_url}", target: "_blank" do %>
                                           <i class="fa fa-twitter"></i>
                                       <% end %>
                                   </li>
                                <% end %>
                                <% if f.instagram_url.present? %>
                                   <li class="social">
                                       <%= link_to "http://instagram.com/#{f.instagram_url}", target: "_blank", class: "last" do %>
                                           <i class="fa fa-instagram"></i>
                                       <% end %>
                                   </li>
                                <% end %>
                            <% end %>
                          
                        <li><button class="btn btn-warning btn-lg purchase" data-toggle="modal" data-target="#myModal">Order Online</button></li>
                    </ul>
                </div>
                <!--end navbar -->
            </div>
    		<!--end container -->
        </nav>
    	<!--end nav -->
    </header>
    <!--end header -->