 <%= render 'pages/header' %>
 <!--begin about-hero-section -->
<section id="hero-section" class="about-hero-section">
    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">
        <!--begin row-->
        <div class="row">
            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">
                <span class="comic-text">True Passion</span>
                <h2 class="section-title white">Natural Flavours</h2>
                <% @profiles.each do |f| %>
                    <p class="hero-text"><%= f.about %></p>
                <% end %>
            </div>
            <!--end col-md-10-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->    
</section>
<!--end about-hero-section -->
<!--begin section-white-->
<section class="section-white">
    <!--begin container-->
    <div class="container"> 
        <!--begin row-->
        <div class="row">
            <!--begin col-md-6-->
            <div class="col-md-6">
                <%= image_tag 'a15.jpg', class: "width-100" %>
            </div>
            <!--end col-md-6-->
            <!--begin col-md-6-->
            <div class="col-md-6 text-center padding-top-40 padding-bottom-40">
                <span class="comic-text">Discover</span>
                <h2 class="section-title">Best Food</h2>
                <p>Freshly made, every day. Stop by and enjoy our food.</p>
                <%= link_to "ORDER ONLINE", pages_order_online_path, class: "btn btn-lg btn-yellow scrool" %>
            </div>
            <!--end col-md-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-white-->
<!--begin section-white-->
<section class="section-white small-padding no-padding-bottom">
    <!--begin container-->
    <div class="container"> 
        <!--begin row-->
        <div class="row">
            <!--begin col-md-6-->
            <div class="col-md-6 text-center padding-top-50 padding-bottom-50">
                <span class="comic-text">Best Chefs</span>
                <h2 class="section-title">In Town</h2>
                <p>Our chefs have 270 years of experience combined. Join us or order online, we guarantee you will have #foodporn.</p>
                <%= image_tag 'menu-logo.png' %>
            </div>
            <!--end col-md-6-->
            <!--begin col-md-6-->
            <div class="col-md-6">
                <%= image_tag 'chef1.jpg', class: "width-100" %>                
            </div>
            <!--end col-md-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-white-->
<%= render 'pages/footer' %>