 <!--begin header -->
    <header class="header">

        <!--begin nav -->
        <nav class="navbar navbar-default navbar-fixed-top">
            
            <!--begin container -->
            <div class="container">
        
                <!--begin navbar -->
                <div class="navbar-header">
                    <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <div class="navbar-brand brand scroll">
                        <%= link_to root_path do %>
                            <%= image_tag 'logo.png', class: "width-100" %>
                        <% end %>
                    </div>
                    <!--<a href="index-2.html" class="navbar-brand brand scrool"><img src="images/logo.png" alt="logo" class="width-100"></a>-->
                </div>
                        
                <div id="navbar-collapse-02" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">			      
                        <li class="selected"><a href="index-2.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="menu.html">Menu</a></li>
                        <li><a href="reservations.html">Reservations</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        
                       
                        <% @socials.each do |f| %>
                            <% if f.facebook.present? %>
                               <li class="social">
                                   <%= link_to "http://facebook.com/#{f.facebook}", target: "_blank", class: "first" do %>
                                       <i class="fa fa-facebook"></i>
                                   <% end %>
                               </li>
                            <% end %>
                            <% if f.twitter.present? %>
                               <li class="social">
                                   <%= link_to "http://twitter.com/#{f.twitter}", target: "_blank" do %>
                                       <i class="fa fa-twitter"></i>
                                   <% end %>
                               </li>
                            <% end %>
                            <% if f.instagram.present? %>
                               <li class="social">
                                   <%= link_to "http://instagram.com/#{f.instagram}", target: "_blank", class: "last" do %>
                                       <i class="fa fa-instagram"></i>
                                   <% end %>
                               </li>
                            <% end %>
                                
                        <% end %>
                        
                        
                        <li><a href="#" class="purchase">Order Online</a></li>
                    </ul>
                </div>
                <!--end navbar -->
                                    
            </div>
    		<!--end container -->
            
        </nav>
    	<!--end nav -->
        
    </header>
    <!--end header -->
        
    <!--begin home-hero-section -->
    <div id="hero-section" class="home-hero-section">
                          
        <div id="rev_slider_202_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="concept1" style="background-color:#000000;padding:0px;">
    
            <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
            <div id="rev_slider_202_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.1RC">
            
                <ul>
                
                    <!-- SLIDE  -->
                    <li data-index="rs-672" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/rs1-100x100.jpg" data-rotate="0" data-saveperformance="off" data-title="FRENCH CUISINE" data-description="">
                    
                        <!-- MAIN IMAGE -->
                        <img src="images/rs2.jpg" alt="" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper " id="slide-672-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 0);">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-674-layer-15" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-105','-105','-97','-114']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;"><img src="images/logo2.png" alt="" width="350" height="175" data-no-retina>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-672-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['115','115','107','104']" data-fontsize="['28','28','20','20']" data-lineheight="['28','28','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">We're Known for Great French Cooking
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Concept-Title   tp-resizeme" id="slide-672-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;">FRENCH CUISINE
                        </div>

                        
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption Dining-BtnLight rev-btn" id="slide-672-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['612','552','641','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 255, 255, 0.15);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:2;" data-start="2100" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"startlayer","layer":"slide-672-layer-6","delay":""},{"event":"click","action":"scrollbelow","offset":"-76px"}]' data-responsive_offset="on" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">DISCOVER STORY
                        </div>

                    </li>
                    
                    <!-- SLIDE  -->
                    <li data-index="rs-674" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/rs2-100x100.jpg" data-rotate="0" data-saveperformance="off" data-title="AWARDED CHEFS" data-description="">
                    
                        <!-- MAIN IMAGE -->
                        <img src="images/rs1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper " id="slide-674-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="keep" style="z-index: 5;background-color:rgba(255, 255, 255, 0.35);border-color:rgba(0, 0, 0, 0);">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-674-layer-16" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-105','-105','-97','-114']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;"><img src="images/logo2.png" alt="" width="350" height="175" data-no-retina>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-672-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['115','115','107','104']" data-fontsize="['28','28','20','20']" data-lineheight="['28','28','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">We're Known for Great French Cooking
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Concept-Title   tp-resizeme" id="slide-672-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;">AWARDED CHEFS
                        </div>
                        
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption Dining-BtnLight rev-btn" id="slide-672-layer-8" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['612','552','641','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 255, 255, 0.15);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:2;" data-start="2100" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"startlayer","layer":"slide-672-layer-6","delay":""},{"event":"click","action":"scrollbelow","offset":"-76px"}]' data-responsive_offset="on" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">MEET CHEFS
                        </div>

                    </li>
                    
                    <!-- SLIDE  -->
                    <li data-index="rs-673" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/rs3-100x100.jpg" data-rotate="0" data-saveperformance="off" data-title="INGREDIENTS" data-description="">
                    
                        <!-- MAIN IMAGE -->
                        <img src="images/rs3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper " id="slide-674-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="keep" style="z-index: 5;background-color:rgba(255, 255, 255, 0.35);border-color:rgba(0, 0, 0, 0);">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-674-layer-17" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-105','-105','-97','-114']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;"><img src="images/logo2.png" alt="" width="350" height="175" data-no-retina>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-672-layer-6" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['115','115','107','104']" data-fontsize="['28','28','20','20']" data-lineheight="['28','28','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">We're Known for Great French Cooking
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Concept-Title   tp-resizeme" id="slide-672-layer-14" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;">FRESH INGREDIENTS
                        </div>
                        
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption Dining-BtnLight rev-btn" id="slide-672-layer-9" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['612','552','641','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 255, 255, 0.15);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:2;" data-start="2100" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"startlayer","layer":"slide-672-layer-6","delay":""},{"event":"click","action":"scrollbelow","offset":"-76px"}]' data-responsive_offset="on" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">THE INGREDIENTS
                        </div>

                    </li>
                    
                </ul>
                
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                
            </div>
            
        </div>
        <!-- END REVOLUTION SLIDER -->
              
    </div>
    <!--end home-hero-section -->
    
    <!--begin section-white-->
    <section class="section-white">
    
      <!--begin container-->
      <div class="container"> 

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-6-->
                <div class="col-md-6 text-center padding-top-50 padding-bottom-50 wow slideInLeft">
            
                    <span class="comic-text">Discover</span>
                    
                    <h2 class="section-title">Our Story</h2>
                    
                    <p>Curabitur quas nets lacus ets nulat iaculis loremis etis nisle varius vitae seditum fugiatum ligula aliquam qui sequi. Lorem ipsum dolor sit amet, consectetur adipiscing elit rutrum eleif arcu sit aspernatur nets fugit, sed quia.</p>
                    
                    <a href="about.html" class="btn btn-lg btn-yellow">OUR RECEIPES</a>
                
                </div>
                <!--end col-md-6-->
                
                <!--begin col-md-6-->
                <div class="col-md-6 wow slideInRight">
                                    
                    <!--begin carousel1-->
                    <div id="myCarousel1" class="carousel carousel1 slide" data-interval="true">
                        
                        <!--begin carousel-inner-->
                        <div class="carousel-inner">
                        
                            <!--begin carousel item-->
                            <div class="item active">
                            
                                <!--begin image-wrapper-->
                                <div class="image-wrapper">
                                    <img src="images/food3.jpg" alt="picture" class="width-100">
                                </div>
                                <!--end image-wrapper-->
                                
                            </div>
                            <!--end carousel item-->
                            
                            <!--begin carousel item-->
                            <div class="item">
                            
                                <!--begin image-wrapper-->
                                <div class="image-wrapper">
                                    <img src="images/food2.jpg" alt="picture" class="width-100">
                                </div>
                                <!--end image-wrapper-->
                                
                            </div>
                            <!--end carousel item-->
                                                       
                        </div>
                        <!--end carousel-inner-->
                        
                        <!-- begin carousel-indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel1" data-slide-to="1"></li>
                        </ol>
                        <!-- end carousel-indicators -->
                        
                    </div>
                    <!--end carousel1-->
                                            
                </div>
                <!--end col-md-6-->
                 
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->
        
    </section>
    <!--end section-white-->
    
    <!--begin image-section -->
    <section class="image-section">
    
        <!--begin image-overlay -->
        <div class="image-overlay"></div>
        <!--end image-overlay -->
            
        <!--begin container-->
        <div class="container image-section-inside">

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-10-->
                <div class="col-md-10 col-md-offset-1 text-center">
                
                    <span class="comic-text wow fadeIn">True Passion</span>
                    
                    <h3 class="section-title white wow bounceIn">Natural Flavours</h3>
                    
                </div>
                <!--end col-md-6-->
            
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->
        
    </section>
    <!--end image-section -->
    
    <!--begin section-white-->
    <section class="section-white">
    
      <!--begin container-->
      <div class="container"> 

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-6-->
                <div class="col-md-6 wow slideInLeft">
                                    
                    <!--begin carousel1-->
                    <div id="myCarousel2" class="carousel carousel1 slide" data-interval="true">
                        
                        <!--begin carousel-inner-->
                        <div class="carousel-inner">
                        
                            <!--begin carousel item-->
                            <div class="item active">
                            
                                <!--begin image-wrapper-->
                                <div class="image-wrapper">
                                    <img src="images/food4.jpg" alt="picture" class="width-100">
                                </div>
                                <!--end image-wrapper-->
                                
                            </div>
                            <!--end carousel item-->
                            
                            <!--begin carousel item-->
                            <div class="item">
                            
                                <!--begin image-wrapper-->
                                <div class="image-wrapper">
                                    <img src="images/food5.jpg" alt="picture" class="width-100">
                                </div>
                                <!--end image-wrapper-->
                                
                            </div>
                            <!--end carousel item-->
                                                       
                        </div>
                        <!--end carousel-inner-->
                        
                        <!-- begin carousel-indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel2" data-slide-to="1"></li>
                        </ol>
                        <!-- end carousel-indicators -->
                        
                    </div>
                    <!--end carousel1-->
                                            
                </div>
                <!--end col-md-6-->
                
                <!--begin col-md-6-->
                <div class="col-md-6 text-center padding-top-50 padding-bottom-50 wow slideInRight">
            
                    <span class="comic-text">Discover</span>
                    
                    <h2 class="section-title">Our Chefs</h2>
                    
                    <p>Curabitur quas nets lacus ets nulat iaculis loremis etis nisle varius vitae seditum fugiatum ligula aliquam qui sequi. Lorem ipsum dolor sit amet, consectetur adipiscing elit rutrum eleif arcu sit aspernatur nets fugit, sed quia.</p>
                    
                    <a href="#" class="btn btn-lg btn-yellow scrool">MEET CHEFS</a>
                
                </div>
                <!--end col-md-6-->
                 
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->
        
    </section>
    <!--end section-white-->
    
    <!--begin home-menu-section -->
    <section class="home-menu-section">
    
        <!--begin image-overlay -->
        <div class="image-overlay"></div>
        <!--end image-overlay -->
            
        <!--begin container-->
        <div class="container image-section-inside">

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-7-->
                <div class="col-md-7">
                           
                    <div class="text-center margin-bottom-30">
                    
                        <span class="comic-text wow fadeIn">Best Recipes</span>
                        
                        <h3 class="section-title white wow bounceIn">AWARDED CHEFS</h3>
                        
                    </div>
                           
                    <!--begin row-->
                    <div class="row">
                    
                        <!--begin col-md-6-->
                        <div class="col-md-6 wow fadeInUp">
                            
                            <!--begin menu-wrapper-->
                            <div class="menu-wrapper">
                                
                                <!--begin home-menu-list-->
                                <div class="home-menu-list">
                                
                                    <h5 class="white">English Breakfast</h5>
                                    
                                    <p class="price">$12.95</p>
                                    
                                    <span class="dot-line"></span>
                                    
                                </div>
                                <!--end home-menu-list-->
                                
                                <p class="home-menu-ingredients">Scrambled eggs with crispy bacon, sausage, black pudding, tomato &amp; mushroom.</p>
                                    
                            </div>
                            <!--end menu-wrapper-->
                            
                        </div>
                        <!--end col-md-6-->
                    
                        <!--begin col-md-6-->
                        <div class="col-md-6 wow fadeInUp">
                            
                            <!--begin menu-wrapper-->
                            <div class="menu-wrapper">
                                
                                <!--begin home-menu-list-->
                                <div class="home-menu-list">
                                
                                    <h5 class="white">Lasagna Classica</h5>
                                    
                                    <p class="price">$19.55</p>
                                    
                                    <span class="dot-line"></span>
                                    
                                </div>
                                <!--end home-menu-list-->
                                
                                <p class="home-menu-ingredients">Broccoli rabe, ittalian sausage, peperoncino, tomates, flour and roasted garlic.</p>
                                        
                            </div>
                            <!--end menu-wrapper-->
                            
                        </div>
                        <!--end col-md-6-->
                    
                        <!--begin col-md-6-->
                        <div class="col-md-6 wow fadeInUp">
                            
                            <!--begin menu-wrapper-->
                            <div class="menu-wrapper">
                                
                                <!--begin home-menu-list-->
                                <div class="home-menu-list">
                                
                                    <h5 class="white">Vegetables Soup</h5>
                                    
                                    <p class="price">$9.95</p>
                                    
                                    <span class="dot-line"></span>
                                    
                                </div>
                                <!--end home-menu-list-->
                                
                                <p class="home-menu-ingredients">Papaya salsa, sliced red radishes, avocado, corn tortilla, spicy tomato ketchup.</p>
                                            
                            </div>
                            <!--end menu-wrapper-->
                            
                        </div>
                        <!--end col-md-6-->
                    
                        <!--begin col-md-6-->
                        <div class="col-md-6 wow fadeInUp">
                            
                            <!--begin menu-wrapper-->
                            <div class="menu-wrapper">
                                
                                <!--begin home-menu-list-->
                                <div class="home-menu-list">
                                
                                    <h5 class="white">Toffee Pudding</h5>
                                    
                                    <p class="price">$10.50</p>
                                    
                                    <span class="dot-line"></span>
                                    
                                </div>
                                <!--end home-menu-list-->
                                
                                <p class="home-menu-ingredients">Baked caramel colored sponge cake with raisins, ladled with warm toffee sauce.</p>
                                                
                            </div>
                            <!--end menu-wrapper-->
                            
                        </div>
                        <!--end col-md-6-->
                    
                    </div>
                    <!--end row-->
                           
                    <!--begin row-->
                    <div class="row text-center margin-top-20 wow bounceIn">
                
                        <a href="#" class="btn btn-lg btn-white-transparent scrool"><i class="pe-7s-note2" style="font-size:20px; float: left; margin-top:-3px; margin-right: 10px; color: #f8bf2c;"></i>FULL MENU</a>
                     
                    </div>
                    <!--end row-->
                    
                </div>
                <!--end col-md-7-->
            
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->    
        
    </section>
    <!--end home-menu-section -->
    
    <!--begin section-white-->
    <section class="section-white small-padding-bottom">
    
        <!--begin container-->
        <div class="container"> 

            <!--begin row-->
            <div class="row margin-bottom-40">
            
                <!--begin col-md-12-->
                <div class="col-md-12 text-center">
                
                    <div class="text-center">
                    
                        <span class="comic-text wow fadeIn">Latest News</span>
                        
                        <h2 class="section-title wow bounceIn">Delicious Recipes</h2>
                        
                    </div>
            
                </div>
                <!--end col-md-12-->
            
            </div>
            <!--end row-->
            
            <!--begin row-->
            <div class="row">
    
                <!--begin col-md-4 -->
                <div class="col-md-4 wow bounceInUp">
                    
                    <!--begin blog-item -->
                    <div class="blog-item">
                            
                        <!--begin popup image -->
                        <div class="popup-wrapper">
                            <div class="popup-gallery">
                                <a href="#" class="blog-item-pic"><img src="images/a10.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-link eye-icon"></i></span></a>
                            </div>
                        </div>
                        <!--begin popup image -->
                            
                        <!--begin blog-item_inner -->
                        <div class="blog-item-inner">
                        
                            <h3 class="blog-title"><a href="#">Brownies and Coffee</a></h3>
                            
                                                                    
                            <p>Quis autem velis et reprehender etims quiste voluptate velit esse quam nihil etsa illum sedit consequatur quias voluptas sit netsum.</p>
    
                            <a href="#" class="btn btn-lg btn-yellow-small scrool">DISCOVER MORE</a>
                                                            
                        </div>
                        <!--end blog-item-inner -->
                        
                    </div>
                    <!--end blog-item -->
                        
                </div>
                <!--end col-md-4-->
                
                <!--begin col-md-4 -->
                <div class="col-md-4 wow bounceInUp">
                    
                    <!--begin blog-item -->
                    <div class="blog-item">
                        
                        <!--begin popup image -->
                        <div class="popup-wrapper">
                            <div class="popup-gallery">
                                <a href="#" class="blog-item-pic"><img src="images/a9.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-link eye-icon"></i></span></a>
                            </div>
                        </div>
                        <!--begin popup image -->
                            
                        <!--begin blog-item_inner -->
                        <div class="blog-item-inner">
                        
                            <h3 class="blog-title"><a href="#">Oldest London Pub</a></h3>
                            
                                                                    
                            <p>Quis autem velis et reprehender etims quiste voluptate velit esse quam nihil etsa illum sedit consequatur quias voluptas sit netsum.</p>
    
                            <a href="#" class="btn btn-lg btn-yellow-small scrool">DISCOVER MORE</a>
                                                            
                        </div>
                        <!--end blog-item-inner -->
                        
                    </div>
                    <!--end blog-item -->
                        
                </div>
                <!--end col-md-4-->
               
                <!--begin col-md-4 -->
                <div class="col-md-4 wow bounceInUp">
                    
                    <!--begin blog-item -->
                    <div class="blog-item">
                        
                        <!--begin popup image -->
                        <div class="popup-wrapper">
                            <div class="popup-gallery">
                                <a href="#" class="blog-item-pic"><img src="images/a8.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-link eye-icon"></i></span></a>
                            </div>
                        </div>
                        <!--begin popup image -->
                            
                        <!--begin blog-item_inner -->
                        <div class="blog-item-inner">
                        
                            <h3 class="blog-title"><a href="#">New Cooking Recipes</a></h3>
                            
                                                                    
                            <p>Quis autem velis et reprehender etims quiste voluptate velit esse quam nihil etsa illum sedit consequatur quias voluptas sit netsum.</p>
    
                            <a href="#" class="btn btn-lg btn-yellow-small scrool">DISCOVER MORE</a>
                                                            
                        </div>
                        <!--end blog-item-inner -->
                        
                    </div>
                    <!--end blog-item -->
                        
                </div>
                <!--end col-md-4-->
                
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->
    
	</section>
    <!--end section-white-->
    
    <!--begin instagram feed -->
    <div id="instafeed">
        
        <!--begin iinstagram-text -->
        <div class="instagram-text">
        
        	<a href="#" target="_blank" class="instagram-icon"><i class="fa fa-instagram"></i></a>
        
        	<p>Please follow on Instagram<br>for latest recipes.</p>
        
        </div>
        <!--end instagram-text -->
        
    </div>
    <!--end instagram feed -->
    
    <!--begin slideshow section -->
    <section class="section-white no-padding-bottom">
        
        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-12-->
                <div class="col-md-12 text-center">
                
                    <div class="text-center">
                    
                        <span class="comic-text">Chef's Pick</span>
                        
                        <h2 class="section-title no-margin">Cooking Recipes</h2>
                        
                    </div>
            
                </div>
                <!--end col-md-12-->
            
            </div>
            <!--end row-->
            
            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-12-->
                <div class="col-md-12 text-center">
                
                    <!--begin rev_slider_108_1_wrapper-->
                    <div id="rev_slider_108_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="food-carousel80" style="margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;">
                        
                        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
                        <div id="rev_slider_108_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                            
                            <ul>	
                            
                                <!-- SLIDE  -->
                                <li data-index="rs-326" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/rs-images/food0-150x100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Spicy Chili Soup" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="images/rs-images/food0.jpg"  alt=""  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
    
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption FoodCarousel-Content   tp-resizeme" 
                                         id="slide-326-layer-3" 
                                         data-x="center" data-hoffset="" 
                                         data-y="center" data-voffset="" 
                                                    data-width="['420']"
                                        data-height="['420']"
                                        data-transform_idle="o:1;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;"><span class="foodcarousel-headline" style=" color: #252525; font-weight:700; text-decoration: underline;">Strawberry Cheesecake</span><br/>
                            1 / 2 Cup of Mixed Herbs<br/>
                            2 Pieces of Baguette<br/>
                            3 Large Tomatoes<br/>
                            4 Fresh Salads<br/>
                            1 Red Chili
                            <hr  style="border-top: 1px solid #292e31;">
                            Quis autem velis et reprehender etims quiste<br>voluptate velit esse quam nihil etsa illum sit sedit consequatur quias voluptas nets.
                                    </div>
    
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption FoodCarousel-Button rev-btn " 
                                         id="slide-326-layer-1" 
                                         data-x="center" data-hoffset="" 
                                         data-y="bottom" data-voffset="50" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" 
                                         data-transform_out="opacity:0;s:300;s:300;" 
                                        data-start="0" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"startlayer","layer":"slide-326-layer-3","delay":""},{"event":"click","action":"startlayer","layer":"slide-326-layer-5","delay":"200"},{"event":"click","action":"stoplayer","layer":"slide-326-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
                                        data-responsive="off"
                                                    data-lasttriggerstate="reset"
                                        style="z-index: 6; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-note2" style="font-size: 21px; float: left;margin-top:-6px;margin-right:10px;"></i> VIEW RECIPE 
                                    </div>
    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme" 
                                         id="slide-326-layer-5" 
                                         data-x="441" 
                                         data-y="110" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"stoplayer","layer":"slide-326-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-326-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-326-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="fa fa-remove"></i>
                                    </div>
                                    
                                </li>
                                
                                <!-- SLIDE  -->
                                <li data-index="rs-327" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/rs-images/food2-150x100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Classic Bolognese" data-description="">
                                
                                    <!-- MAIN IMAGE -->
                                    <img src="images/rs-images/food2.jpg"  alt=""  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
    
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption FoodCarousel-Content   tp-resizeme" 
                                         id="slide-327-layer-3" 
                                         data-x="center" data-hoffset="" 
                                         data-y="center" data-voffset="" 
                                                    data-width="['420']"
                                        data-height="['420']"
                                        data-transform_idle="o:1;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;"><span class="foodcarousel-headline" style=" color: #252525; font-weight:700; text-decoration: underline;">Strawberry Cheesecake</span><br/>
                            1 / 2 Cup of Mixed Herbs<br/>
                            2 Pieces of Baguette<br/>
                            3 Large Tomatoes<br/>
                            4 Fresh Salads<br/>
                            1 Red Chili
                            <hr  style="border-top: 1px solid #292e31;">
                            Quis autem velis et reprehender etims quiste<br>voluptate velit esse quam nihil etsa illum sit sedit consequatur quias voluptas nets.
                                    </div>
    
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption FoodCarousel-Button rev-btn " 
                                         id="slide-327-layer-1" 
                                         data-x="center" data-hoffset="" 
                                         data-y="bottom" data-voffset="50" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" 
                                         data-transform_out="opacity:0;s:300;s:300;" 
                                        data-start="0" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"startlayer","layer":"slide-327-layer-3","delay":""},{"event":"click","action":"startlayer","layer":"slide-327-layer-5","delay":"200"},{"event":"click","action":"stoplayer","layer":"slide-327-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
                                        data-responsive="off"
                                                    data-lasttriggerstate="reset"
                                        style="z-index: 6; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-note2" style="font-size: 21px; float: left;margin-top:-6px;margin-right:10px;"></i> VIEW RECIPE 
                                    </div>
    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme" 
                                         id="slide-327-layer-5" 
                                         data-x="441" 
                                         data-y="110" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"stoplayer","layer":"slide-327-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-327-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-327-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="fa fa-remove"></i></div>
                                    
                                </li>
                                
                                <!-- SLIDE  -->
                                <li data-index="rs-328" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/rs-images/food3-150x100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Cottage Cheese &amp; Chives" data-description="">
                                
                                    <!-- MAIN IMAGE -->
                                    <img src="images/rs-images/food3.jpg"  alt=""  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
    
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption FoodCarousel-Content   tp-resizeme" 
                                         id="slide-328-layer-3" 
                                         data-x="center" data-hoffset="" 
                                         data-y="center" data-voffset="" 
                                                    data-width="['420']"
                                        data-height="['420']"
                                        data-transform_idle="o:1;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;"><span class="foodcarousel-headline" style=" color: #252525; font-weight:700; text-decoration: underline;">Strawberry Cheesecake</span><br/>
                            1 / 2 Cup of Mixed Herbs<br/>
                            2 Pieces of Baguette<br/>
                            3 Large Tomatoes<br/>
                            4 Fresh Salads<br/>
                            1 Red Chili
                            <hr  style="border-top: 1px solid #292e31;">
                            Quis autem velis et reprehender etims quiste<br>voluptate velit esse quam nihil etsa illum sit sedit consequatur quias voluptas nets.
                                    </div>
    
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption FoodCarousel-Button rev-btn " 
                                         id="slide-328-layer-1" 
                                         data-x="center" data-hoffset="" 
                                         data-y="bottom" data-voffset="50" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" 
                                         data-transform_out="opacity:0;s:300;s:300;" 
                                        data-start="0" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"startlayer","layer":"slide-328-layer-3","delay":""},{"event":"click","action":"startlayer","layer":"slide-328-layer-5","delay":"200"},{"event":"click","action":"stoplayer","layer":"slide-328-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
                                        data-responsive="off"
                                                    data-lasttriggerstate="reset"
                                        style="z-index: 6; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-note2" style="font-size: 21px; float: left;margin-top:-6px;margin-right:10px;"></i> VIEW RECIPE 
                                    </div>
    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme" 
                                         id="slide-328-layer-5" 
                                         data-x="441" 
                                         data-y="110" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"stoplayer","layer":"slide-328-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-328-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-328-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="fa fa-remove"></i></div>
                                    
                                </li>
                                
                                <!-- SLIDE  -->
                                <li data-index="rs-329" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/rs-images/food5-150x100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Colorful Salad" data-description="">
                                
                                    <!-- MAIN IMAGE -->
                                    <img src="images/rs-images/food5.jpg"  alt=""  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
    
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption FoodCarousel-Content   tp-resizeme" 
                                         id="slide-329-layer-3" 
                                         data-x="center" data-hoffset="" 
                                         data-y="center" data-voffset="" 
                                                    data-width="['420']"
                                        data-height="['420']"
                                        data-transform_idle="o:1;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;"><span class="foodcarousel-headline" style=" color: #252525; font-weight:700; text-decoration: underline;">Strawberry Cheesecake</span><br/>
                            1 / 2 Cup of Mixed Herbs<br/>
                            2 Pieces of Baguette<br/>
                            3 Large Tomatoes<br/>
                            4 Fresh Salads<br/>
                            1 Red Chili
                            <hr  style="border-top: 1px solid #292e31;">
                            Quis autem velis et reprehender etims quiste<br>voluptate velit esse quam nihil etsa illum sit sedit consequatur quias voluptas nets.
                                    </div>
    
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption FoodCarousel-Button rev-btn " 
                                         id="slide-329-layer-1" 
                                         data-x="center" data-hoffset="" 
                                         data-y="bottom" data-voffset="50" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" 
                                         data-transform_out="opacity:0;s:300;s:300;" 
                                        data-start="0" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"startlayer","layer":"slide-329-layer-3","delay":""},{"event":"click","action":"startlayer","layer":"slide-329-layer-5","delay":"200"},{"event":"click","action":"stoplayer","layer":"slide-329-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
                                        data-responsive="off"
                                                    data-lasttriggerstate="reset"
                                        style="z-index: 6; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-note2" style="font-size: 21px; float: left;margin-top:-6px;margin-right:10px;"></i> VIEW RECIPE 
                                    </div>
    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme" 
                                         id="slide-329-layer-5" 
                                         data-x="441" 
                                         data-y="110" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"stoplayer","layer":"slide-329-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-329-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-329-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="fa fa-remove"></i></div>
                                    
                                </li>
                                
                                <!-- SLIDE  -->
                                <li data-index="rs-330" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/rs-images/food4-150x100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Its Just Cornflakes" data-description="">
                                
                                    <!-- MAIN IMAGE -->
                                    <img src="images/rs-images/food4.jpg"  alt=""  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
    
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption FoodCarousel-Content   tp-resizeme" 
                                         id="slide-330-layer-3" 
                                         data-x="center" data-hoffset="" 
                                         data-y="center" data-voffset="" 
                                                    data-width="['420']"
                                        data-height="['420']"
                                        data-transform_idle="o:1;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;"><span class="foodcarousel-headline" style=" color: #252525; font-weight:700; text-decoration: underline;">Strawberry Cheesecake</span><br/>
                            1 / 2 Cup of Mixed Herbs<br/>
                            2 Pieces of Baguette<br/>
                            3 Large Tomatoes<br/>
                            4 Fresh Salads<br/>
                            1 Red Chili
                            <hr  style="border-top: 1px solid #292e31;">
                            Quis autem velis et reprehender etims quiste<br>voluptate velit esse quam nihil etsa illum sit sedit consequatur quias voluptas nets.
                                    </div>
    
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption FoodCarousel-Button rev-btn " 
                                         id="slide-330-layer-1" 
                                         data-x="center" data-hoffset="" 
                                         data-y="bottom" data-voffset="50" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" 
                                         data-transform_out="opacity:0;s:300;s:300;" 
                                        data-start="0" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"startlayer","layer":"slide-330-layer-3","delay":""},{"event":"click","action":"startlayer","layer":"slide-330-layer-5","delay":"200"},{"event":"click","action":"stoplayer","layer":"slide-330-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
                                        data-responsive="off"
                                                    data-lasttriggerstate="reset"
                                        style="z-index: 6; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-note2" style="font-size: 21px; float: left;margin-top:-6px;margin-right:10px;"></i> VIEW RECIPE 
                                    </div>
    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme" 
                                         id="slide-330-layer-5" 
                                         data-x="441" 
                                         data-y="110" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"stoplayer","layer":"slide-330-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-330-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-330-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="fa fa-remove"></i></div>
                                    
                                </li>
                                
                                <!-- SLIDE  -->
                                <li data-index="rs-331" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/rs-images/food6-150x100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Tasty Muesli" data-description="">
                                
                                    <!-- MAIN IMAGE -->
                                    <img src="images/rs-images/food6.jpg"  alt=""  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
    
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption FoodCarousel-Content   tp-resizeme" 
                                         id="slide-331-layer-3" 
                                         data-x="center" data-hoffset="" 
                                         data-y="center" data-voffset="" 
                                                    data-width="['420']"
                                        data-height="['420']"
                                        data-transform_idle="o:1;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;"><span class="foodcarousel-headline" style=" color: #252525; font-weight:700; text-decoration: underline;">Strawberry Cheesecake</span><br/>
                            1 / 2 Cup of Mixed Herbs<br/>
                            2 Pieces of Baguette<br/>
                            3 Large Tomatoes<br/>
                            4 Fresh Salads<br/>
                            1 Red Chili
                            <hr  style="border-top: 1px solid #292e31;">
                            Quis autem velis et reprehender etims quiste<br>voluptate velit esse quam nihil etsa illum sit sedit consequatur quias voluptas nets.
                                    </div>
    
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption FoodCarousel-Button rev-btn " 
                                         id="slide-331-layer-1" 
                                         data-x="center" data-hoffset="" 
                                         data-y="bottom" data-voffset="50" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" 
                                         data-transform_out="opacity:0;s:300;s:300;" 
                                        data-start="0" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"startlayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-5","delay":"200"},{"event":"click","action":"stoplayer","layer":"slide-331-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
                                        data-responsive="off"
                                                    data-lasttriggerstate="reset"
                                        style="z-index: 6; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-note2" style="font-size: 21px; float: left;margin-top:-6px;margin-right:10px;"></i> VIEW RECIPE 
                                    </div>
    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme" 
                                         id="slide-331-layer-5" 
                                         data-x="441" 
                                         data-y="110" 
                                                    data-width="['auto']"
                                        data-height="['auto']"
                                        data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                             
                                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" 
                                         data-transform_out="auto:auto;s:500;" 
                                        data-start="bytrigger" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-actions='[{"event":"click","action":"stoplayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-331-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-1","delay":""}]'
                                        data-responsive_offset="on" 
    
                                         data-end="bytrigger"
                                        data-lasttriggerstate="reset"
                                        style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="fa fa-remove"></i></div>
                                    
                                </li>
                                
                            </ul>
                            
                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
                            
                        </div>
                        
                    </div>
                    <!--end rev_slider_108_1_wrapper-->
                    
                </div>
                <!--end col-md-12-->
            
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->    
        
    </section>
    <!--end slideshow section -->
    
    <!--begin footer -->
    <div class="footer">
            
        <!--begin container -->
        <div class="container">
        
            <!--begin row -->
            <div class="row footer-top">
            
                <!--begin col-md-3 -->
                <div class="col-md-3 padding-bottom-50">
                
                	<h4>ABOUT US</h4>
                    
                    <p>Quis autem velis et reprehender etims quiste voluptate velit esse quam nihil etsa illum sedit consequatur quias.</p>
                    
                    <a href="about.html" class="btn btn-lg btn-yellow-x-small scrool">OUR STORY</a>
                    
                </div>
                <!--end col-md-3 -->
                
                <!--begin col-md-3 -->
                <div class="col-md-3 padding-bottom-50">
                
                	<h4>LATEST RECIPES</h4>
                    
                    <ul class="footer-list">
                        
                        <li class="first"><a href="#" target="blank">Cheddar Cheese Cauliflower Tots</a></li>
                        
                        <li><a href="#" target="blank">Garlic Chicken &amp; White Wine Sauce</a></li>
                        
                        <li><a href="#" target="blank">Spinach Mozzarella Grilled Cheese</a></li>
                        
                        <li><a href="#" target="blank">Mini Chicken Roasted Cups</a></li>
                        
					</ul>
                    
                </div>
                <!--end col-md-3 -->
                
                <!--begin col-md-3 -->
                <div class="col-md-3 padding-bottom-50">
                
                	<h4>FEATURED PLATES</h4>
                    
                    <ul class="footer-gallery">
                        
                        <li class="popup-gallery">
                            <a class="popup2" href="images/instagram1-large.jpg">
                            	<img src="images/instagram1.jpg" alt="instagram" />
                            </a>
                        </li>
                        
                        <li class="popup-gallery">
                            <a class="popup2" href="images/instagram6-large.jpg">
                            	<img src="images/instagram6.jpg" alt="instagram" />
                            </a>
                        </li>
                        
                        <li class="popup-gallery">
                            <a class="popup2" href="images/instagram2-large.jpg">
                            	<img src="images/instagram2.jpg" alt="instagram" />
                            </a>
                        </li>
                        
                        <li class="popup-gallery">
                            <a class="popup2" href="images/instagram4-large.jpg">
                            	<img src="images/instagram4.jpg" alt="instagram" />
                            </a>
                        </li>
                        
                        <li class="popup-gallery">
                            <a class="popup2" href="images/instagram5-large.jpg">
                            	<img src="images/instagram5.jpg" alt="instagram" />
                            </a>
                        </li>
                        
                        <li class="popup-gallery">
                            <a class="popup2" href="images/instagram3-large.jpg">
                            	<img src="images/instagram3.jpg" alt="instagram" />
                            </a>
                        </li>
                        
					</ul>
                    
                </div>
                <!--end col-md-3 -->
                
                <!--begin col-md-3 -->
                <div class="col-md-3 padding-bottom-50">
                
                	<h4>CONTACT DETAILS</h4>
                    
                    <p>Quis autem velis eti reprehender etimes quiste volupta velit esse quam nihil.</p>
                    
                    <p class="contact_info"><i class="fa fa-map-marker"></i> Oxford Street, London, UK, N1 1ED</p>
                    
                    <p class="contact_info"><i class="fa fa-phone"></i> +44 987 654 321 / +44 123 456 789</p>
                
                    <p class="contact_info"><i class="fa fa-envelope-square"></i> <a href="mailto:contact@restaurant.com">contact@restaurant.com</a></p>
                    
                </div>
                <!--end col-md-3 -->
                
            </div>
            <!--end row -->
            
            <!--begin row -->
            <div class="row">
                
                <!--begin footer-bottom -->
                <div class="footer-bottom">
                
                    <!--begin col-md-5 -->
                    <div class="col-md-5">
                        
                        <!--begin copyright -->
                        <div class="copyright ">
                            <p> 2016 Cuisine. Designed by <a href="http://themeforest.net/user/bogdan_09/portfolio?ref=bogdan_09" target="_blank">Bogdan Preda</a></p>
                            
                        </div>
                        <!--end copyright -->
                       
                    </div>
                    <!--end col-md-5 -->
                    
                    <!--begin col-md-2 -->
                    <div class="col-md-2 text-center">
                    
                    	<a href="#hero-section" class="scrool top-scroll"><i class="fa fa-angle-double-up"></i></a>
                        
                    </div>
                    <!--end col-md-2 -->
                    
                    <!--begin col-md-5 -->
                    <div class="col-md-5">
                                                        
                        <!--begin footer_social -->
                        <ul class="footer_social">
                            <li>
                                Follow Us:
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                        <!--end footer_social -->
                        
                    </div>
                    <!--end col-md-5 -->
                        
                </div>
                <!--end footer-bottom -->
                        
            </div>
            <!--end row -->
            
        </div>
        <!--end container -->
                
    </div>
    <!--end footer -->